.hero-section{
    background-image:
    linear-gradient(rgba(0,0,0,.45),rgba(0,0,0,.45)),
    url("../img/bienbenidafondo.webp");

    background-size:cover;
    background-position:center;
    padding:60px 0;
}

/* Claro */
[data-bs-theme="light"] .card-bienvenida{
    background:rgba(255,255,255,.92);

}


/* Oscuro */
[data-bs-theme="dark"] .card-bienvenida{
    background:rgba(30,30,30,.90);

}
