/* ========== FUENTES ==========*/

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600&family=JetBrains+Mono:wght@400;700&family=Orbitron:wght@600;800&family=Prompt:wght@600;700&display=swap');


/* ========== PALETA DE COLORES ========== */

:root{

    --color-y2k-r:#e48484;
    --color-y2k-a:#7dc5bf;
    --color-y2k-v:#1ef775;

    --color-naranja:#f0b570;
    --color-amarillo:#fadf7b;
    --color-azul:#7592a6;
    --color-gris:#c7c2b8;

}


/* ========== TIPOGRAFIAS ========== */

body{
    font-family:'Barlow',sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-family:'Prompt',sans-serif;
}

.fuente-nav{
    font-family:'Orbitron',sans-serif;
}

.fuente-hud{
    font-family:'JetBrains Mono',monospace;
}


/* ===== Tema Claro ===== */

[data-bs-theme="light"]{
    --bs-primary:#7592a6;
}


/* ===== Tema Oscuro =====*/

[data-bs-theme="dark"]{
    --bs-primary:#7dc5bf;
}

/* === Icono ===*/
.letra-y{color:var(--color-y2k-r);}
.letra-2{color:var(--color-y2k-a);}
.letra-k{color:var(--color-y2k-v);}